# Page Visits Funnel
Cool T-Shirts Inc. has asked you to analyze data on visits to their website. Your job is to build a funnel, which is a description of how many people continue to the next step of a multi-step process.

In this case, our funnel is going to describe the following process:

1. A user visits CoolTShirts.com
2. A user adds a t-shirt to their cart
3. A user clicks “checkout”
4. A user actually purchases a t-shirt

# Funnel for Cool T-Shirts Inc.

In [47]:
import pandas as pd
import numpy as np
from IPython.display import display # Jupyter Notebooks render HTML tables

visits = pd.read_csv('visits.csv',parse_dates=[1])
cart = pd.read_csv('cart.csv',parse_dates=[1])
checkout = pd.read_csv('checkout.csv',parse_dates=[1])
purchase = pd.read_csv('purchase.csv',parse_dates=[1])

## 1.
Inspect the DataFrames using print and head:
1. `visits` lists all of the users who have visited the website
2. `cart` lists all of the users who have added a t-shirt to their cart
3. `checkout` lists all of the users who have started the checkout
4. `purchase` lists all of the users who have purchased a t-shirt

In [48]:
print("1. Visits:")
display(visits.head(10))
print("2. Cart:")
display(cart.head(10))
print("3. Checkout:")
display(checkout.head(10))
print("4. Purchase:")
display(purchase.head(10))

1. Visits:

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
5  7bc62113-d51d-4e6b-85e0-1cf29e3de74a 2017-06-03 20:05:00
6  6f22cd44-bc63-4449-a9af-2651859da2f9 2017-03-18 23:09:00
7  49a6399b-c095-4e42-92eb-af90abe2bb6a 2017-01-10 12:09:00
8  653c095d-fd74-40dd-ae3b-5a69a2613629 2017-06-27 19:21:00
9  3d9fdac1-aae3-4a01-b448-934d12047468 2017-09-24 06:43:00

2. Cart:

                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
5  0c998868-9961-490b-8ec2-9981ba667027 2017-11-27 08:54:00
6  f783c680-1d9a-437d-9f45-7827299b78fa 2017-06-25 08:08:00
7  f3dd7631-3cf6-4d49-9c6e-b48eda4432b5 2017-01-04 09:57:00
8  4cdd357a-199e-4d81-ae9e-7252fa34ee0f 2017-05-23 22:25:00
9  3c3460b3-a56d-4d92-908d-29dcca34db18 2017-01-06 14:56:00

3. Checkout:

                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
5  a25aad6a-55af-4ddc-92d1-e8c58f855329 2017-01-05 20:07:00
6  3327f8fb-c5a0-421e-a0d1-fb619b79ab45 2017-08-17 04:20:00
7  9c3ea739-7968-429c-87f6-f213ef7b9fcb 2017-04-16 21:22:00
8  cb3ad392-baeb-4e28-a673-eaaf4bac68a4 2017-04-10 21:09:00
9  fc3bd8b7-4ce7-4c46-90a7-373d0a8a3e00 2017-10-03 16:53:00

4. Purchase:

                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00
5  5ae833dc-8866-4baa-9617-2009d6474ffa 2017-07-26 16:46:00
6  70688015-a755-4b8a-a963-3528d85c8048 2017-09-24 08:05:00
7  c504ff0d-eefe-472b-826c-471142311857 2017-05-02 07:56:00
8  99ad37b5-30b1-4a06-ad47-d9d2d60cdb07 2017-02-20 11:11:00
9  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:18:00

In [49]:
count_of_visits = len(visits)       # 2000
count_of_cart = len(cart)           # 348
count_of_checkout = len(checkout)   # 226
count_of_purchase = len(purchase)   # 252

print(f"""
Total visits: {len(visits)}
Total carts: {len(cart)}
Total checkout: {len(checkout)}
Total purchases: {len(purchase)}
""")

Total visits: 2000
Total carts: 348
Total checkout: 226
Total purchases: 252

## 2.
Combine `visits` and `cart` using a left merge.

In [50]:
visits_cart = pd.merge(visits,cart,how="left")
display(visits_cart)

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT
...,...,...,...
1995,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaT
1996,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaT
1997,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaT
1998,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaT
1999,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaT

## 3.
How long is your merged DataFrame?

In [51]:
length_of_visits_cart = len(visits_cart)
print(f"Step 3. Length of merged visit + cart table: {length_of_visits_cart}")

Step 3. Length of merged visit + cart table: 2000

## 4.
How many of the timestamps are `null` for the column `cart_time`?

What do these null rows mean?

In [52]:
null_cart_times = len(visits_cart[visits_cart.cart_time.isnull()])
print(f"Step 4. Count of null_cart_times: {null_cart_times}")

Step 4. Count of null_cart_times: 1652

## 5.
What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?

*Note: To calculate percentages, it will be helpful to turn either the numerator or the denominator into a float, by using float(), with the number to convert passed in as input. Otherwise, Python will use integer division, which truncates decimal points.*

In [53]:
visited_but_didnt_add_to_cart = float(null_cart_times) / float(length_of_visits_cart)
print(f"Step 5. Percent of users who visited, but didn't add to cart: {visited_but_didnt_add_to_cart}")

Step 5. Percent of users who visited, but didn't add to cart: 0.826

## 6.
Repeat the left merge for `cart` and `checkout` and count `null` values. What percentage of users put items in their cart, but did not proceed to checkout?

In [54]:
# Step 6a - Join cart and checkout tables
cart_checkout = pd.merge(cart, checkout, how="left")
print("Step 6a:")
display(cart_checkout)

# Step 6b - length of Joined cart and checkout tables: 422
length_of_cart_checkout = len(cart_checkout)
print(f"Step 6b. Length of cart+checkout table: {length_of_cart_checkout}")

# Step 6c - count of null cart_checkout in Joined cart+checkout table.
null_cart_checkout = len(cart_checkout[cart_checkout.checkout_time.isnull()])
print(f"Step 6b. Count of null_cart_checkout: {null_cart_checkout}")

# Step 6d - percentage of users who added to cart but did not checkout. null checkout_time / total cart
added_to_cart_but_didnt_checkout = float(null_cart_checkout) / float(length_of_cart_checkout)
print(f"Step 6d. Percent of users who added to cart, but didn't checkout: {added_to_cart_but_didnt_checkout}")

Step 6a:

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT
2,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
3,b594862a-36c5-47d5-b818-6e9512b939b3,2017-09-27 08:22:00,2017-09-27 08:26:00
4,a68a16e2-94f0-4ce8-8ce3-784af0bbb974,2017-07-26 15:48:00,NaT
...,...,...,...
343,952be3a5-9240-484f-845c-a6b2cbed72ee,2017-05-02 05:40:00,2017-05-02 05:50:00
344,59d2b685-383a-4fce-a325-35d985713a8b,2017-01-20 03:58:00,NaT
345,a1203970-92ae-4fc7-843e-e1740c1be9d5,2017-11-12 23:07:00,NaT
346,55de53ae-89f6-43ff-a26d-df284678aca1,2017-03-17 19:56:00,2017-03-17 20:04:00
347,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 08:57:00

Step 6b. Length of cart+checkout table: 348
Step 6b. Count of null_cart_checkout: 122
Step 6d. Percent of users who added to cart, but didn't checkout: 0.3505747126436782

## 7.
Merge all four steps of the funnel, in order, using a series of left merges. Save the results to the variable `all_data`.

Examine the result using `print` and `head`.

In [55]:
all_data = visits.merge(cart, how="left").merge(checkout, how="left").merge(purchase, how="left")

display(all_data.head(5))

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT

## 8.
What percentage of users proceeded to checkout, but did not purchase a t-shirt?

In [56]:
checkout_time_is_not_null = len(all_data[~all_data.checkout_time.isnull()])
purchase_time_is_null = len(all_data[all_data.purchase_time.isnull()])
purchase_time_is_null_and_checkout_time_is_not_null = len(all_data[all_data.purchase_time.isnull() & ~all_data.checkout_time.isnull()])

# print("checkout time is not null:",checkout_time_is_not_null)
# print("purchase time is null:",purchase_time_is_null)
# print("purchase time is null and checkout time is not null:",purchase_time_is_null_and_checkout_time_is_not_null)
# print(purchase_time_is_null / checkout_time_is_not_null)
# print(purchase_time_is_null_and_checkout_time_is_not_null / checkout_time_is_not_null)

checkout_but_didnt_purchase = float(purchase_time_is_null_and_checkout_time_is_not_null) / float(checkout_time_is_not_null)
print(f"Step 8. Percentage of users who checked out, but didn't purchase: {checkout_but_didnt_purchase}")

Step 8. Percentage of users who checked out, but didn't purchase: 0.24550898203592814

## 9.
Which step of the funnel is weakest (i.e., has the highest percentage of users not completing it)?

How might Cool T-Shirts Inc. change their website to fix this problem?

In [57]:
print("Step 9. {} percent of users who visited the page but did not add to cart".format(round(visited_but_didnt_add_to_cart*100, 2)))
print("Step 9. {} percent of users who added to cart, but did not checkout".format(round(added_to_cart_but_didnt_checkout*100, 2)))
print("Step 9. {} percent of users who checked out, but did not make a purchase".format(round(checkout_but_didnt_purchase*100, 2)))

Step 9. 82.6 percent of users who visited the page but did not add to cart
Step 9. 35.06 percent of users who added to cart, but did not checkout
Step 9. 24.55 percent of users who checked out, but did not make a purchase

The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart.
Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it.
A suggestion could be to make the add-to-cart button more prominent on the front page.

# Average Time to Purchase

## 10.
Using the giant merged DataFrame `all_data` that you created, let’s calculate the average time from initial visit to final purchase. Add a column that is the difference between purchase_time and visit_time.

In [58]:
all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time

## 11.
Examine the results by printing the new column to the screen.

In [59]:
display(all_data.head())

,user_id,visit_time,cart_time,checkout_time,purchase_time,time_to_purchase
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00,0 days 00:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT,NaT

## 12.
Calculate the average time to purchase by applying the `.mean()` function to your new column.

In [60]:
print("Average time to purchase: ",all_data.time_to_purchase.mean())

Average time to purchase:  0 days 00:43:12.380952380